/* colors */
:root {
  /* light */
  /* primitives */
  --blue-0: #f1fbfe;
  --blue-1: #eff8fc;
  --blue-10: #367187;
  --blue-11: #285565;
  --blue-12: #1f424f;
  --blue-13: #0066cc;
  --blue-2: #e6f5fb;
  --blue-3: #ccebf6;
  --blue-4: #5abde1;
  --blue-5: #51aacb;
  --blue-6: #4897b4;
  --blue-7: #218eb5;
  --blue-8: #09739a;
  --blue-9: #448ea9;
  --blue-c0: #e0f2f1;
  --blue-c1: #80deea;
  --blue-c2: #10737f;
  --blue-cb0: #e8eaf6;
  --blue-cb1: #c5cae9;
  --blue-cb2: #303f9f;
  --blue-tb0: #e3f2fd;
  --blue-tb1: #90caf9;
  --blue-tb2: #0764c0;
  --brown-0: #ededed;
  --brown-1: #bcaaa4;
  --brown-2: #5d4037;
  --green-0: #f7fbf4;
  --green-1: #f1f8ee;
  --green-10: #248f5b;
  --green-11: #0d7543;
  --green-12: #41652c;
  --green-13: #324d22;
  --green-2: #e1f0d6;
  --green-3: #d5e9c9;
  --green-4: #c0deaf;
  --green-5: #a4cf8a;
  --green-6: #92c573;
  --green-7: #77b750;
  --green-8: #6ca749;
  --green-9: #548239;
  --green-dg0: #e8f5e9;
  --green-dg1: #a5d6a7;
  --green-dg2: #1f7523;
  --green-o0: #f1f8e9;
  --green-o1: #c5e1a5;
  --green-o2: #417811;
  --green-sf0: #e0f7fa;
  --green-sf1: #80cbc4;
  --green-sf2: #20594b;
  --grey-0: #ffffff;
  --grey-1: #f9fafc;
  --grey-10: #1e2338;
  --grey-11: #171b2b;
  --grey-12: #f5f6fa;
  --grey-2: #ebecf0;
  --grey-3: #e9eaee;
  --grey-4: #a3a7b9;
  --grey-5: #8088a3;
  --grey-6: #5f6685;
  --grey-7: #374066;
  --grey-8: #323a5d;
  --grey-9: #272d48;
  --orange-0: #ffe6da;
  --orange-1: #ffc0a4;
  --orange-2: #ff9b6d;
  --orange-3: #ff8348;
  --orange-4: #ff6a24;
  --orange-5: #ff5d13;
  --orange-6: #ff4f01;
  --orange-t0: #fff3e0;
  --orange-t1: #ffd8b1;
  --orange-t2: #bf4636;
  --pink-0: #fcf2f2;
  --pink-1: #f6d5d5;
  --pink-2: #f2c1c1;
  --pink-3: #eca5a5;
  --pink-4: #e99393;
  --pink-5: #e37878;
  --pink-6: #cf6d6d;
  --pink-7: #a15555;
  --pink-8: #7d4242;
  --pink-9: #5f3232;
  --pink-c0: #fce4ec;
  --pink-c1: #f8bbd0;
  --pink-c2: #c2185b;
  --purple-0: #f1f3fd;
  --purple-1: #e5e2f8;
  --purple-10: #3e2f9d;
  --purple-11: #32267d;
  --purple-12: #251c5e;
  --purple-13: #1d1649;
  --purple-14: #2200f9;
  --purple-2: #cac3f1;
  --purple-3: #cac3f1;
  --purple-4: #b0a7ea;
  --purple-5: #8c7ee0;
  --purple-6: #705ee4;
  --purple-7: #533fd1;
  --purple-8: #4b39bc;
  --purple-9: #4232a7;
  --purple-l0: #f3e5f5;
  --purple-l1: #ce93d8;
  --purple-l2: #7b1fa2;
  --red-0: #fbf3ef;
  --red-1: #f3dace;
  --red-2: #e54d1f;
  --red-3: #c4360b;
  --red-4: #d23939;
  --yellow-0: #fffaeb;
  --yellow-1: #fff1c7;
  --yellow-2: #fcedc7;
  --yellow-3: #fae4ab;
  --yellow-4: #f8d785;
  --yellow-5: #f6d06d;
  --yellow-6: #eeae09;
  --yellow-7: #ee9521;
  --yellow-8: #c77100;
  --yellow-ty0: #fff8e1;
  --yellow-ty1: #ffe082;
  --yellow-ty2: #fbc02d;
  --yellow-ty3: #9f642f;

    /* semantics */
  --bg: var(--grey-0);
  --bg-disabled: var(--grey-1);
  --bg-surface: var(--grey-1);
  --bg-surface-brand: var(--purple-0);
  --bg-surface-brand-hover: var(--purple-2);
  --bg-surface-darker: var(--grey-2);
  --bg-surface-error: var(--red-0);
  --bg-surface-error-hover: var(--red-1);
  --bg-surface-info: var(--blue-0);
  --bg-surface-information-hover: var(--blue-3);
  --bg-surface-new-nav: var(--grey-12);
  --bg-surface-succes-hover: var(--green-2);
  --bg-surface-success: var(--green-0);
  --bg-surface-warning: var(--yellow-0);
  --bg-surface-warning-hover: var(--yellow-2);


     /* border */
  --border: var(--grey-2);
  --border-brand: var(--purple-7);
  --border-brand-focused: var(--purple-5);
  --border-brand-inverse: var(--purple-0);
  --border-disabled: var(--grey-5);
  --border-error: var(--red-3);
  --border-information: var(--blue-8);
  --border-information-inverse: var(--blue-0);
  --border-success: var(--green-11);
  --border-warning: var(--yellow-8);

     /* icon */
  --icon-icon: var(--grey-5);
  --icon-icon-brand: var(--purple-6);
  --icon-icon-error: var(--red-2);
  --icon-icon-information: var(--blue-6);
  --icon-icon-success: var(--green-10);
  --icon-icon-warning: var(--yellow-7);


   /* speciality */
  --avatar-border-brand: var(--purple-1);
  --avatar-border-information: var(--blue-2);


  /* buttons */
  --button-primary-bg: var(--purple-7);
  --button-primary-text: var(--purple-0);
  --button-primary-border: var(--purple-7);
  --button-primary-hover-bg: var(--purple-8);


  --button-secondary-bg: var(--purple-2);
  --button-secondary-text: var(--purple-7);
  --button-secondary-border: var(--purple-2);
  --button-secondary-hover-bg: var(--purple-3);

  --button-tertiary-bg: transparent;
  --button-tertiary-text: var(--purple-7);
  --button-tertiary-border: var(--purple-7);
  --button-tertiary-hover-bg: var(--purple-1);

    /* text only button */
  --button-text-text: var(--purple-7);

  /* all buttons focus */
  --button-focus: var(--purple-7);


   /* charts */
  --charts-brand-base: var(--purple-3);
  --charts-brand-base-alpha: #cac3f166;
  --charts-brand-contrast: var(--purple-14);
  --charts-brand-high: var(--purple-7);
  --charts-brand-high-alpha: #2200f999;
  --charts-brand-low: var(--purple-4);
  --charts-brand-low-alpha: #b0a7ea99;
  --charts-brand-medium: var(--purple-6);
  --charts-brand-medium-alpha: #917fff99;
  --charts-heatmap-base: var(--border);
  --charts-heatmap-high: var(--purple-10);
  --charts-heatmap-low: var(--purple-2);
  --charts-heatmap-medium: var(--purple-6);
  --charts-information-base: var(--blue-3);
  --charts-information-high: var(--blue-7);
  --charts-information-low: var(--blue-4);
  --charts-information-medium: var(--blue-6);
  --charts-pink-base: var(--pink-2);
  --charts-pink-high: var(--pink-6);
  --charts-pink-low: var(--pink-3);
  --charts-pink-medium: var(--pink-4);
  --charts-seafoam-base: var(--green-sf0);
  --charts-seafoam-high: var(--green-sf2);
  --charts-seafoam-low: var(--green-sf0);
  --charts-seafoam-medium: var(--green-sf1);
  --charts-tangerine-base: var(--orange-t0);
  --charts-tangerine-high: var(--orange-t2);
  --charts-tangerine-low: var(--orange-t0);
  --charts-tangerine-medium: var(--orange-t1);

     /* radio button */
  --radio-button-border: var(--grey-5);
  --radio-button-dot-disabled: var(--grey-4);
  --radio-button-dot-fill: var(--grey-0);

     /* tags */
--tags-grey-bg: var(--bg-surface-darker);
  --tags-grey-border: var(--border);
  --tags-grey-text: var(--text);

  --tags-purple-bg: var(--bg-surface-brand);
  --tags-purple-border: var(--border-brand-inverse);
  --tags-purple-text: var(--text-brand);
     
  --tags-blue-bg: var(--bg-surface-info);
  --tags-blue-border: var(--border-information);
  --tags-blue-text: var(--text-information);
     
  --tags-outline-bg: var(--bg);
  --tags-outline-border: var(--border);
  --tags-outline-text: var(--text);
     

  --tags-brown-bg: var(--brown-0);
  --tags-brown-border: var(--brown-1);
  --tags-brown-text: var(--brown-2);
  --tags-cobaltblue-bg: var(--blue-cb0);
  --tags-cobaltblue-border: var(--blue-cb1);
  --tags-cobaltblue-text: var(--blue-cb2);
  --tags-coral-bg: var(--pink-c0);
  --tags-coral-border: var(--pink-c1);
  --tags-coral-text: var(--pink-c2);
  --tags-cyan-bg: var(--blue-c0);
  --tags-cyan-border: var(--blue-c1);
  --tags-cyan-text: var(--blue-c2);
  --tags-deepgreen-bg: var(--green-dg0);
  --tags-deepgreen-border: var(--green-dg1);
  --tags-deepgreen-text: var(--green-dg2);
  --tags-lavendar-bg: var(--purple-l0);
  --tags-lavendar-border: var(--purple-l1);
  --tags-lavendar-text: var(--purple-l2);
  --tags-olive-bg: var(--green-o0);
  --tags-olive-border: var(--green-o1);
  --tags-olive-text: var(--green-o2);
  --tags-seafoam-bg: var(--green-sf0);
  --tags-seafoam-border: var(--green-sf1);
  --tags-seafoam-text: var(--green-sf2);
  --tags-tangerine-bg: var(--orange-t0);
  --tags-tangerine-border: var(--orange-t1);
  --tags-tangerine-text: var(--orange-t2);
  --tags-trueblue-bg: var(--blue-tb0);
  --tags-trueblue-border: var(--blue-tb1);
  --tags-trueblue-text: var(--blue-tb2);
  --tags-trueyellow-bg: var(--yellow-ty0);
  --tags-trueyellow-border: var(--yellow-ty1);
  --tags-trueyellow-icon: var(--yellow-ty2);
  --tags-trueyellow-text: var(--yellow-ty3);

  --tags-green-bg: var(--green-1);
  --tags-green-border: var(--green-2);
  --tags-green-text: var(--green-11);

  --tags-red-bg: var(--red-0);
  --tags-red-border: var(--red-1);
  --tags-red-text: var(--red-4);

  --tags-yellow-bg: var(--yellow-0);
  --tags-yellow-border: var(--yellow-1);
  --tags-yellow-text: var(--yellow-8);



     /* text */
  --text-hyperlinks: var(--blue-13);
  --text: var(--grey-7);
  --text-brand: var(--purple-7);
  --text-brand-on-bg-fill: var(--grey-0);
  --text-disabled: var(--grey-5);
  --text-error: var(--red-3);
  --text-information: var(--blue-8);
  --text-secondary: var(--grey-6);
  --text-success: var(--green-11);
  --text-tertiary: var(--grey-5);
  --text-warning: var(--yellow-8);


  
  --dark-blue-0: #1f424f;
  --dark-blue-1: #285565;
  --dark-blue-10: #e6f5fb;
  --dark-blue-11: #eff8fc;
  --dark-blue-12: #1f424f;
  --dark-blue-13: #0066cc;
  --dark-blue-2: #367187;
  --dark-blue-3: #448ea9;
  --dark-blue-4: #09739a;
  --dark-blue-5: #218eb5;
  --dark-blue-6: #4897b4;
  --dark-blue-7: #51aacb;
  --dark-blue-8: #5abde1;
  --dark-blue-9: #ccebf6;
  --dark-blue-c0: #10737f;
  --dark-blue-c1: #80deea;
  --dark-blue-c2: #e0f2f1;
  --dark-blue-cb0: #303f9f;
  --dark-blue-cb1: #c5cae9;
  --dark-blue-cb2: #e8eaf6;
  --dark-blue-tb0: #0764c0;
  --dark-blue-tb1: #90caf9;
  --dark-blue-tb2: #e3f2fd;
  --dark-brown-0: #5d4037;
  --dark-brown-1: #bcaaa4;
  --dark-brown-2: #ededed;
  --dark-green-0: #324d22;
  --dark-green-1: #41652c;
  --dark-green-10: #f1f8ee;
  --dark-green-11: #f7fbf4;
  --dark-green-12: #f7fbf4;
  --dark-green-13: #f7fbf4;
  --dark-green-2: #548239;
  --dark-green-3: #6ca749;
  --dark-green-4: #77b750;
  --dark-green-5: #92c573;
  --dark-green-6: #a4cf8a;
  --dark-green-7: #c0deaf;
  --dark-green-8: #d5e9c9;
  --dark-green-9: #e1f0d6;
  --dark-green-dg0: #1f7523;
  --dark-green-dg1: #a5d6a7;
  --dark-green-dg2: #e8f5e9;
  --dark-green-o0: #417811;
  --dark-green-o1: #c5e1a5;
  --dark-green-o2: #f1f8e9;
  --dark-green-sf0: #20594b;
  --dark-green-sf1: #80cbc4;
  --dark-green-sf2: #e0f7fa;
  --dark-grey-0: #171b2b;
  --dark-grey-1: #1e2338;
  --dark-grey-10: #f4f3fc;
  --dark-grey-11: #ffffff;
  --dark-grey-12: #1e2338;
  --dark-grey-2: #272d48;
  --dark-grey-3: #323a5d;
  --dark-grey-4: #374066;
  --dark-grey-5: #5f6685;
  --dark-grey-6: #8088a3;
  --dark-grey-7: #a3a7b9;
  --dark-grey-8: #e0e1e6;
  --dark-grey-9: #ebecf0;
  --dark-orange-0: #ffffff;
  --dark-orange-1: #ff5d13;
  --dark-orange-2: #ff6a24;
  --dark-orange-3: #ff8348;
  --dark-orange-4: #ff9b6d;
  --dark-orange-5: #ffc0a4;
  --dark-orange-6: #ffe6da;
  --dark-orange-t0: #bf4636;
  --dark-orange-t1: #ffd8b1;
  --dark-orange-t2: #fff3e0;
  --dark-pink-0: #5f3232;
  --dark-pink-1: #7d4242;
  --dark-pink-2: #a15555;
  --dark-pink-3: #cf6d6d;
  --dark-pink-4: #e37878;
  --dark-pink-5: #e99393;
  --dark-pink-6: #eca5a5;
  --dark-pink-7: #f2c1c1;
  --dark-pink-8: #f6d5d5;
  --dark-pink-9: #5f3232;
  --dark-pink-c0: #c2185b;
  --dark-pink-c1: #f8bbd0;
  --dark-pink-c2: #fce4ec;
  --dark-purple-0: #1d1649;
  --dark-purple-1: #251c5e;
  --dark-purple-10: #cac3f1;
  --dark-purple-11: #e5e2f8;
  --dark-purple-12: #f1f3fd;
  --dark-purple-13: #f1f3fd;
  --dark-purple-14: #f1f3fd;
  --dark-purple-2: #32267d;
  --dark-purple-3: #3e2f9d;
  --dark-purple-4: #4232a7;
  --dark-purple-5: #4b39bc;
  --dark-purple-6: #533fd1;
  --dark-purple-7: #705ee4;
  --dark-purple-8: #8c7ee0;
  --dark-purple-9: #b0a7ea;
  --dark-purple-l0: #7b1fa2;
  --dark-purple-l1: #ce93d8;
  --dark-purple-l2: #f3e5f5;
  --dark-red-0: #c4360b;
  --dark-red-1: #e54d1f;
  --dark-red-2: #d23939;
  --dark-red-3: #f3dace;
  --dark-red-4: #fbf3ef;
  --dark-yellow-0: #c77100;
  --dark-yellow-1: #ee9521;
  --dark-yellow-2: #eeae09;
  --dark-yellow-3: #f6d06d;
  --dark-yellow-4: #f8d785;
  --dark-yellow-5: #fae4ab;
  --dark-yellow-6: #fcedc7;
  --dark-yellow-7: #fff1c7;
  --dark-yellow-8: #fffaeb;
  --dark-yellow-ty0: #9f642f;
  --dark-yellow-ty1: #ffe082;
  --dark-yellow-ty2: #fbc02d;
  --dark-yellow-ty3: #fff8e1;

    /* semantics */
  --dark-bg: var(--dark-grey-0);
  --dark-bg-disabled: var(--dark-grey-1);
  --dark-bg-surface: var(--dark-grey-1);
  --dark-bg-surface-brand: var(--dark-purple-0);
  --dark-bg-surface-brand-hover: var(--dark-purple-2);
  --dark-bg-surface-darker: var(--dark-grey-2);
  --dark-bg-surface-error: var(--dark-red-0);
  --dark-bg-surface-error-hover: var(--dark-red-1);
  --dark-bg-surface-info: var(--dark-blue-0);
  --dark-bg-surface-information-hover: var(--dark-blue-3);
  --dark-bg-surface-new-nav: var(--dark-grey-12);
  --dark-bg-surface-succes-hover: var(--dark-green-2);
  --dark-bg-surface-success: var(--dark-green-0);
  --dark-bg-surface-warning: var(--dark-yellow-0);
  --dark-bg-surface-warning-hover: var(--dark-yellow-2);


  --dark-border: var(--dark-grey-3);
  --dark-border-brand: var(--dark-purple-7);
  --dark-border-brand-focused: var(--dark-purple-5);
  --dark-border-brand-inverse: var(--dark-purple-0);
  --dark-border-disabled: var(--dark-grey-5);
  --dark-border-error: var(--dark-red-3);
  --dark-border-information: var(--dark-blue-8);
  --dark-border-information-inverse: var(--dark-blue-0);
  --dark-border-success: var(--dark-green-11);
  --dark-border-warning: var(--dark-yellow-8);

  
  --dark-icon-icon: var(--dark-grey-5);
  --dark-icon-icon-brand: var(--dark-purple-6);
  --dark-icon-icon-error: var(--dark-red-2);
  --dark-icon-icon-information: var(--dark-blue-6);
  --dark-icon-icon-success: var(--dark-green-10);
  --dark-icon-icon-warning: var(--dark-yellow-7);
  --dark-avatar-border-brand: var(--dark-grey-1);
  --dark-avatar-border-information: var(--dark-blue-2);



  /* buttons */
  --dark-button-primary-bg: var(--dark-purple-7);
  --dark-button-primary-text: var(--dark-purple-0);
  --dark-button-primary-border: var(--dark-purple-7);
  --dark-button-primary-hover-bg: var(--dark-purple-8);


  --dark-button-secondary-bg: var(--dark-purple-2);
  --dark-button-secondary-text: var(--dark-purple-7);
  --dark-button-secondary-border: var(--dark-purple-2);
  --dark-button-secondary-hover-bg: var(--dark-purple-3);

  --dark-button-tertiary-bg: transparent;
  --dark-button-tertiary-text: var(--dark-purple-7);
  --dark-button-tertiary-border: var(--dark-purple-7);
  --dark-button-tertiary-hover-bg: var(--dark-purple-1);


  --dark-charts-brand-base: var(--dark-purple-3);
  --dark-charts-brand-base-alpha: #3e2f9d;
  --dark-charts-brand-contrast: var(--dark-purple-14);
  --dark-charts-brand-high: var(--dark-purple-7);
  --dark-charts-brand-high-alpha: #705ee4;
  --dark-charts-brand-low: var(--dark-purple-4);
  --dark-charts-brand-low-alpha: #4232a7;
  --dark-charts-brand-medium: var(--dark-purple-6);
  --dark-charts-brand-medium-alpha: #533fd1;
  --dark-charts-heatmap-base: var(--dark-border);
  --dark-charts-heatmap-high: var(--dark-purple-10);
  --dark-charts-heatmap-low: var(--dark-purple-2);
  --dark-charts-heatmap-medium: var(--dark-purple-6);
  --dark-charts-information-base: var(--dark-blue-3);
  --dark-charts-information-high: var(--dark-blue-7);
  --dark-charts-information-low: var(--dark-blue-4);
  --dark-charts-information-medium: var(--dark-blue-6);
  --dark-charts-pink-base: var(--dark-pink-2);
  --dark-charts-pink-high: var(--dark-pink-6);
  --dark-charts-pink-low: var(--dark-pink-3);
  --dark-charts-pink-medium: var(--dark-pink-4);
  --dark-charts-seafoam-base: var(--dark-green-sf0);
  --dark-charts-seafoam-high: var(--dark-green-sf2);
  --dark-charts-seafoam-low: var(--dark-green-sf0);
  --dark-charts-seafoam-medium: var(--dark-green-sf1);
  --dark-charts-tangerine-base: var(--dark-orange-t0);
  --dark-charts-tangerine-high: var(--dark-orange-t2);
  --dark-charts-tangerine-low: var(--dark-orange-t0);
  --dark-charts-tangerine-medium: var(--dark-orange-t1);
  --dark-radio-button-border: var(--dark-grey-5);
  --dark-radio-button-dot-disabled: var(--dark-grey-4);
  --dark-radio-button-dot-fill: var(--dark-grey-0);

  --dark-tags-grey-bg: var(--dark-bg-surface-darker);
  --dark-tags-grey-border: var(--dark-border);
  --dark-tags-grey-text: var(--dark-text);

  --dark-tags-purple-bg: var(--dark-bg-surface-brand);
  --dark-tags-purple-border: var(--dark-border-brand-inverse);
  --dark-tags-purple-text: var(--dark-text-brand);
     
  --dark-tags-blue-bg: var(--dark-bg-surface-info);
  --dark-tags-blue-border: var(--dark-border-information);
  --dark-tags-blue-text: var(--dark-text-information);
     
  --dark-tags-outline-bg: var(--dark-bg);
  --dark-tags-outline-border: var(--dark-border);
  --dark-tags-outline-text: var(--dark-text);
     

  --dark-tags-brown-bg: var(--dark-brown-0);
  --dark-tags-brown-border: var(--dark-brown-1);
  --dark-tags-brown-text: var(--dark-brown-2);
  --dark-tags-cobaltblue-bg: var(--dark-blue-cb0);
  --dark-tags-cobaltblue-border: var(--dark-blue-cb1);
  --dark-tags-cobaltblue-text: var(--dark-blue-cb2);
  --dark-tags-coral-bg: var(--dark-pink-c0);
  --dark-tags-coral-border: var(--dark-pink-c2);
  --dark-tags-coral-text: var(--dark-pink-c1);
  --dark-tags-cyan-bg: var(--dark-blue-c0);
  --dark-tags-cyan-border: var(--dark-blue-c1);
  --dark-tags-cyan-text: var(--dark-blue-c2);
  --dark-tags-deepgreen-bg: var(--dark-green-dg0);
  --dark-tags-deepgreen-border: var(--dark-green-dg1);
  --dark-tags-deepgreen-text: var(--dark-green-dg2);
  --dark-tags-lavendar-bg: var(--dark-purple-l0);
  --dark-tags-lavendar-border: var(--dark-purple-l1);
  --dark-tags-lavendar-text: var(--dark-purple-l2);
  --dark-tags-olive-bg: var(--dark-green-o0);
  --dark-tags-olive-border: var(--dark-green-o1);
  --dark-tags-olive-text: var(--dark-green-o2);
  --dark-tags-seafoam-bg: var(--dark-green-sf0);
  --dark-tags-seafoam-border: var(--dark-green-sf1);
  --dark-tags-seafoam-text: var(--dark-green-sf2);
  --dark-tags-tangerine-bg: var(--dark-orange-t0);
  --dark-tags-tangerine-border: var(--dark-orange-t1);
  --dark-tags-tangerine-text: var(--dark-orange-t2);
  --dark-tags-trueblue-bg: var(--dark-blue-tb0);
  --dark-tags-trueblue-border: var(--dark-blue-tb1);
  --dark-tags-trueblue-text: var(--dark-blue-tb2);
  --dark-tags-trueyellow-bg: var(--dark-yellow-ty0);
  --dark-tags-trueyellow-border: var(--dark-yellow-ty1);
  --dark-tags-trueyellow-icon: var(--dark-yellow-ty2);
  --dark-tags-trueyellow-text: var(--dark-yellow-ty3);
  --dark-text-hyperlinks: var(--dark-blue-13);
  --dark-text: var(--dark-grey-9);
  --dark-text-brand: var(--dark-purple-7);
  --dark-text-brand-on-bg-fill: var(--dark-grey-0);
  --dark-text-disabled: var(--dark-grey-5);
  --dark-text-error: var(--dark-red-3);
  --dark-text-information: var(--dark-blue-8);
  --dark-text-secondary: var(--dark-grey-8);
  --dark-text-success: var(--dark-green-11);
  --dark-text-tertiary: var(--dark-grey-7);
  --dark-text-warning: var(--dark-green-8);
  --dark-tags-green-bg: var(--dark-green-1);
  --dark-tags-green-border: var(--dark-green-2);
  --dark-tags-green-text: var(--dark-green-11);

  --dark-tags-red-bg: var(--dark-red-0);
  --dark-tags-red-border: var(--dark-red-1);
  --dark-tags-red-text: var(--dark-red-4);

  --dark-tags-yellow-bg: var(--dark-yellow-0);
  --dark-tags-yellow-border: var(--dark-yellow-1);
  --dark-tags-yellow-text: var(--dark-yellow-8);





  /* Typography Primitives */
   --font-family-mulish: 'Mulish', sans-serif;
 
   /* Font weights */
   --font-weight-regular: 400;
   --font-weight-medium: 500;
   --font-weight-semibold: 600;
   --font-weight-bold: 700;
 
   /* Font sizes */
   --font-size-12: 12px;
   --font-size-14: 14px;
   --font-size-16: 16px;
   --font-size-18: 18px;
   --font-size-20: 20px;
   --font-size-22: 22px;
   --font-size-24: 24px;
   --font-size-28: 28px;
   --font-size-32: 32px;
   --font-size-40: 40px;
 
   /* Line height */
   --line-height-auto: normal;
 }
 
 /* Typography Semantics */
 .text-title, .text-heading, .text-card-number-header {
   font-family: var(--font-family-mulish);
 }
 
 .text-title {
   font-weight: var(--font-weight-bold);
   font-size: var(--font-size-22);
   color: var(--text);
 }
 
 .text-subtitle {
   font-family: var(--font-family-mulish);
   font-weight: var(--font-weight-medium);
   font-size: var(--font-size-16);
   color: var(--text-secondary);
 }
 
 .text-heading {
   font-weight: var(--font-weight-bold);
   font-size: var(--font-size-16);
   color: var(--text);
 }
 
 .text-subheading {
   font-family: var(--font-family-mulish);
   font-weight: var(--font-weight-medium);
   font-size: var(--font-size-14);
   color: var(--text-secondary);
 }
 
 .text-body, .text-body-medium, .text-body-bold, .text-label, .text-subtext, .text-placeholder {
   font-family: var(--font-family-mulish);
   font-size: var(--font-size-14);
   color: var(--text);
 }
 
 .text-body {
   font-weight: var(--font-weight-regular);
   color: var(--text-secondary);
 }
 
 .text-body-medium {
   font-weight: var(--font-weight-medium);
   color: var(--text-secondary);
 }
 
 .text-body-bold {
   font-weight: var(--font-weight-bold);
   color: var(--text-secondary);
 }
 
 .text-label {
   font-weight: var(--font-weight-bold);
   font-size: var(--font-size-12);
 }
 
 .text-subtext, .text-hyperlink {
   font-weight: var(--font-weight-regular);
   font-size: var(--font-size-12);
 }
 
 .text-placeholder {
   font-weight: var(--font-weight-semibold);
   color: var(--text-tertiary);
 }
 
 .text-card-number-header {
   font-weight: var(--font-weight-semibold);
   font-size: var(--font-size-18);
 }


